body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: rgb(145,124,252);
    background: linear-gradient(180deg, rgba(145,124,252,1) 0%, rgba(252,70,107,1) 100%);
}

#viewer-text-box{
    margin: auto;
    width: relative;
    padding: 35px;
    text-align: center;
    font-size: 60px;
}

.stream-box{
    display: block;
    margin: 10px auto;
    border: 4mm ridge rgba(156, 69, 176);
    width: 650px;
    height: 650px;
}

.navbar{
    width: 100%;
    height: 75px;
    align-items: center;
    background: rgba(29,33,61,0.5);
    padding: 0, 80px;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-flow: wrap;
}

.logo{
    width: relative;
    height: relative;
}

.logo img{
    width: 30px;
    position: relative;
    z-index: 10;
    cursor: pointer;
    margin-left: 35px;
}

nav{
    flex:1;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 50px;
    justify-content: space-evenly;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 17px relative;
    justify-content: space-evenly;
}

.shell img{
    width: 3%;
    height: auto;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.info-icon{
    width: 20px;
    position: absolute;
    left: 3%;
    bottom: 30px;
}

.info-icon{
    width: 20px;
    position: absolute;
    left: 50px;
    bottom: 30px;
}

.Outside-box{
    width: auto;
    height: auto;
    margin: auto;  
    padding: auto;

    /*add flexbox style*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.LI-profile-badge{
    height: 300px;
    width: 300px;
    background: whitesmoke;
    margin: 10% auto;
    box-sizing: border-box;
    border: 5mm ridge rgba(156, 69, 176);
    border-radius: 50%;
}

.team-text-box{
    margin: auto;
    width: auto;
    padding: auto;
    text-align: center;
    font-size: 40px;
}

.team-text-box-under{
    margin: auto;
    width: relative;
    padding: 4px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: 1B1E36;
}

a:link{
    text-decoration: none;
}

/*media quaries*/

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
    .column {
      width: 50%;
    }
  }

  /* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

  @media only screen and (orientation: landscape) {
    body {
        background: rgb(145,124,252);
        background: linear-gradient(180deg, rgba(145,124,252,1) 0%, rgba(252,70,107,1) 100%);
    }
  }

@import url(https://fonts.googleapis.com/css?family=Raleway);
body {
  background-color: #f6ede5;
}

a,
p {
  font-family: "Raleway", sans-serif;
}

.cont-contactInfo {
  float: left;
  padding-right: 5%;
  width: 45%;
}
.cont-contactInfo h3 {
  font-size: 28px;
}
.cont-contactInfo h4 {
  font-size: 22px;
  font-weight: normal;
  text-transform: uppercase;
}
.cont-contactInfo h4.section {
  margin: 30px 0 0;
}
.cont-contactInfo p {
  margin: 0;
}
.cont-contactInfo p > a {
  text-transform: uppercase;
  font-weight: bold;
}
.cont-contactInfo .social-icons {
  list-style: none;
  margin: 5px 0 0;
  padding: 0;
}
.cont-contactInfo .social-icons li {
  float: left;
  margin-right: 3px;
}
.cont-contactInfo .social-icons li a {
  background-image: url("../images/sprite_social_icons.png");
  background-repeat: no-repeat;
  display: block;
  height: 28px;
  width: 29px;
}
.cont-contactInfo .social-icons li a:hover {
  opacity: 0.8;
}
.cont-contactInfo .social-icons li a.icon_twitter {
  background-position: -33px 0;
}
.cont-contactInfo .social-icons li a.icon_linkedin {
  background-position: -68px 0;
}
.cont-contactInfo .social-icons li a.icon_youtube {
  background-position: -102px 0;
}
.cont-contactInfo .social-icons li a.icon_pinterest {
  background-position: -135px 0;
}
.cont-contactInfo .social-icons li a.icon_vimeo {
  background-position: -169px 0;
}
.cont-contactInfo .social-icons li a.icon_instagram {
  background-position: -204px 0;
}

.cont-contactBtn {
  height: 359px;
  margin: 0 auto;
  width: 574px;
  position: relative;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
}
.cont-contactBtn .cont-flip {
  position: absolute;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 100%;
  width: 100%;
}
.cont-contactBtn .cont-flip .front,
.cont-contactBtn .cont-flip .back {
  display: block;
  margin: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.cont-contactBtn .cont-flip .front {
  background-color: transparent;
}
.cont-contactBtn .cont-flip .back {
  background-color: #fff;
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
.cont-contactBtn .btn {
  margin-top: 155px;
}
.cont-contactBtn .cont-flip.flipped {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
.cont-contactBtn .contact-form {
  padding: 0 10%;
  margin-top: 50px;
  width: 80%;
}
.cont-contactBtn .contact-form input,
.cont-contactBtn .contact-form textarea {
  border: 1px solid #808080;
  font-size: 12px;
  padding: 10px 0;
  text-transform: uppercase;
}
.cont-contactBtn .contact-form input[type="text"] {
  float: left;
  margin-bottom: 8px;
  padding-left: 3%;
  width: 44.9%;
}
.cont-contactBtn .contact-form .gutter {
  margin-right: 2.8%;
}
.cont-contactBtn .contact-form textarea {
  height: 106px;
  padding-left: 3%;
  margin-bottom: 22px;
  width: 96.2%;
}
.cont-contactBtn .contact-form input[type="submit"] {
  background-color: #ff4d54;
  border: none;
  color: #fff;
  height: 45px;
  width: 100%;
  max-width: 93px;
  text-align: center;
}
.cont-contactBtn .close {
  display: block;
  height: 19px;
  width: 19px;
  background-image: url("https://i.imgur.com/WoKg12q.png");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 15px;
  right: 3%;
}

/*media quaries*/

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
    .column {
      width: 50%;
    }
  }

  /* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

@media only screen and (orientation: landscape) {
    body {
        background: rgb(145,124,252);
        background: linear-gradient(180deg, rgba(145,124,252,1) 0%, rgba(252,70,107,1) 100%);
    }
}

.btn {
  border: 3px #fff solid;
  color: #fff;
  display: block;
  font-size: 15px;
  font-weight: normal;
  margin: 0 auto;
  max-width: 280px;
  padding: 15px 0;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  width: 100%;
}

.sendit {
  background-color: #ff4d54;
  color: #fff;
  width: 500px; 
  height: 500px; 
}
 
#thanks {
  background-color: #f44336;
  color: white;
  padding: 14px 25px !important;
  border: 14px 25px !important;;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#thanksmail{
  position: relative;
  left: 80px; 
  top: 2px;
    margin-left: 150px; 
    font-size: xx-large;
}

.toolsUsedPictureFormat{
  height: 300px;
  width: 300px;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 25px;
  text-align: center;
}

.inside-box{
  display: block;
  height: auto;
  width: auto;
  margin: 10px;
  padding: auto;
  border: 4mm ridge rgba(156, 69, 176);
  text-align: center;
}

.tools-text-box{
  margin: auto;
  width: auto;
  padding: auto;
  text-align: center;
  font-size: 45px;
}




